table {
    color: #edf0f1;
    background-color: #682961;
    border: 7px solid;
    border-radius: 1em;   
    position: relative;
    width: 150px;
    height: 50px; 
}

#etkinlik {
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    top:-3.5em;
    left: 350px;
    color: white;
    text-decoration: none;
}
body {
   /* background: linear-gradient(to right top,#65dfc9,#6cdbeb); */
   background-color: #24252A;
}



b{
    color: black;
}

