a {
   
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
  
}
#etkinlik {
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    top:-3.5em;
    left:-1em;
    color: white;
}body {
    background: linear-gradient(to right top,#65dfc9,#6cdbeb);
}
html,body{
    min-height:150%;
    
}