#image {
    
    
    border: solid 1px red;
    background-color: blue;
    cursor: pointer;
 
}


#rect {
    border: solid 2px red;
    pointer-events: none;
    display: none;
}
html,body {
    background-color: black;
    color: white;
}
.image {
    display: block;
  margin-left: auto;
  margin-right: auto;

}