label {
    display: block;
    text-align: center;
}
html,body {
    min-height: 150%;
    background-color: #24252A;
    color:#edf0f1;
}
h1 {
    text-align: center;
    position: relative;
    top:4em;
    color:#edf0f1;
}
.all { /*centering all of class*/
    
   position: absolute;
   top:50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%,-50%);

}
body {
    /*background: linear-gradient(to right top,#65dfc9,#6cdbeb);*/
}
input{
    position: relative;
    left:50px;
    background:linear-gradient(to right top,#24252A,#24252A);
    color:#edf0f1;
}


.co {
    display: flex;
    justify-content: center; /* all items at the center through with flex and justify content */
    align-items: center;
    background-color: white;
   width: 952px;
   height: 952px;
     
   position: absolute; /* centering the items */
   top:115%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%,-50%);
   border-radius: 2rem; /* radius borders*/
   background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
  
 
}
.co {
    z-index: 2;
    backdrop-filter: blur(100rem);
}
.coc {
    box-shadow: 0 10px 100px rgba(0,0,0.2),0 0px 20px rgba(0,0,0.2); /*shadows up and down */
    width:900px;
    height: 900px;
   
}
#güncelle {
    position: relative;
   left:545px;
  bottom:-801px;
  color:#24252A;
}
textarea{
    box-sizing: border-box;
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 4px;
    background:linear-gradient(to right top,#24252A,#24252A);
    color:#edf0f1;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.8em;
    width: 14em;
    outline: none; /* dış çeperlerde mavi rengi kaldırmak*/
   
    overflow-y: scroll;
    height: 100px;
    resize: none;
    scrollbar-color: #249de4 #f5f5f5;
} 
label {
    color: black;
}