table {
    margin-left: auto;
    margin-right: auto; /*for centering the table margin left and right used */
  
   margin-top: 10%;
   border-collapse: collapse;
   border-color: rgb(255, 80, 121) green blue; /* top row column colors */
}

body {
    background: black;
    color:white;
    
}

td {
    padding: 15px;
    text-align:left;
   
}
tr:hover { /* when mouseover changes the color tr s */
   
    background:linear-gradient(to right top,#f46b45,#eea849)
}
#kurumek {
    position: relative;
    top:-3.8em;
    left:38em;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
 
}
