main{ 
    text-align: center;
 
 }
 html {
     /*background: linear-gradient(to right top,#65dfc9,#6cdbeb);*/
     background-color: black;
     color:white;
 }
 textarea{
     box-sizing: border-box;
     border: 2px solid red;
     border-radius: 4px;
     background:linear-gradient(to right top,#f46b45,#eea849);
     color:white;
     font-family: 'Roboto', sans-serif;
     font-size: 1rem;
     line-height: 0.8em;
     width: 8em;
     outline: none; /* dış çeperlerde mavi rengi kaldırmak*/
    
     /*overflow-y: scroll;
     height: 100px;
     resize: none;
     scrollbar-color: #249de4 #f5f5f5; */
 } 
 table {
     background-color: #f445e3;
     border: 7px solid;
     border-radius: 1em;
     margin-right: 50px;
   
     position: relative;
        width: 150px;
        height: 50px;
         
       
 }
 
   
   /*table:before, table:after {
     content: '';
     position: absolute;
     left: -2px;
     top: -2px;
     background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
       #0000ff, #00ff00,#ffff00, #ff0000);
       background-size: 400%;
     width: calc(100% + 4px);
     height: calc(100% + 4px);
     z-index: -1;
     animation: steam 40s linear infinite;
     border-radius: 1em;
   }
   
   @keyframes steam {
     0% {
       background-position: 0 0;
     }
     50% {
       background-position: 400% 0;
     }
     100% {
       background-position: 0 0;
     }
   }
   
   table:after {
     filter: blur(50px);
   }*/
   
   